body{
  background-color: #111;
}
h1, p, li{
  color: #FFF;
  padding: 2px;
}
ul,ol{
  list-style: none;
}
.flex{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.flex h1{
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex p{
  width: 300px;
}
main{
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.map{
  width: 100%;
  border-radius: 4px;  
}
.grid-center{
  justify-items: center;
  text-align: center;
}
.grid-center a{
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  padding: 10px;

}
.grid-center p{
  margin-bottom: 50px;
}
.Sub-titulo{
  font-size: 1.1rem;
  font-weight: normal;
  color: #B2B2B2;
}
footer P{
  color: #B2B2B2;
}