@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap');

* {
  font-family: 'Roboto';
  list-style: none;
}


body {
  padding: 0;
  margin: 0;
  background-color: #129799;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li,
.container-title nav ul li,
footer nav ul li {
  color: #F7F7F7;
  font-size: 15px;
  height: 35px;
  padding: 5px;
}

nav ul li:hover {
  color: black;
}

.container-title {
  display: flex;
  flex-direction: column;
}

.container-title div,
.Orange {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-title div h1 {
  color: #F7F7F7;
  font-size: 1.5rem;
  margin-top: 60px;
}

.container-title nav {
  display: flex;
  justify-content: center;
}

.container-title nav ul,
header nav ul,
footer nav ul {
  display: flex;
}

.Orange {
  background-color: #FFA185;
  flex-direction: column;
}

.see {
  font-weight: bold;
  cursor: pointer;
}

.Orange div h1 {
  color: #F7F7F7;
  font-size: 1.5rem;
}

figure {
  display: flex;
  flex-direction: column;
}

.container-orange div {
  display: flex;
  align-content: space-around;
}

.container-orange div img {
  padding: 10px;
  width: 350px;
  height: 200px;
}

footer {
  background-color: #129799;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer figure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
}

footer figure img {
  width: 25px;
  height: 25px;
}