body {
  background-color: #E5F3E2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 5px solid #FEFAE0;
  box-shadow: 0 0 0 5px #283618;
}

li {
  list-style: none;
}

h1 {
  color: #283618;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: #4C946E;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li {
  background-color: #94C383;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  color: #E5F3E2;
  box-shadow: 0 0 10px 0 #94C383;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 10ch;
  color: #283618;
}

.ingredientes {
  color: #283618;
}

section ul li {
  color: #4C946E;
  padding: 5px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}